.number {
  font-family: monospace;
}
.text-right {
  text-align: right;
}
.row-blocks {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
.row-blocks li {
  display: inline-block;
  width: 33.3%;
  height: 30px;
  line-height: 30px;
}
.row-blocks li a {
  text-decoration: none;
}
.row-blocks-2 li {
  width: 50%;
}
.row-blocks-3 li {
  width: 33.3%;
}
.row-blocks-4 li {
  width: 25%;
}
.anketa .form-group {
  margin-bottom: 15px;
  display: block;
  position: relative;
}
.anketa .form-group .input-group {
  position: relative;
}
.anketa .form-group .input-group:after {
  position: absolute;
  font-family: 'Fontawesome';
  right: 0;
  top: 7.75px;
  height: 2em;
  font-size: 2em;
  transition: all 0.2s ease-in;
}
.anketa .form-group .input-group.check:after {
  content: '\f14a';
  color: #00c851;
}
.anketa .form-group .input-group.fail:after {
  content: '\f2d3';
  color: rgba(255,9,13,0.8);
}
.anketa .form-group label.control-label {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 100;
  color: rgba(0,0,0,0.5);
  width: 100%;
  text-align: right;
}
