.news {
  border: solid 1px rgba(255,255,255,0.9);
  border-radius: 4px;
  padding: 4px;
  color: rgba(255,255,255,0.9);
  margin: 0;
  width: 100%;
}
.news .news-title {
  font-weight: 600;
  font-size: 14px;
}
.news .news-text {
  font-weight: 300;
  font-size: 12px;
}
.news .news-subscribe {
  font-weight: 300;
  font-size: 10px;
}
