// out: css/giadiamonds.css
// .container
//     background:#373737
//     color:#fff;
.number
    font-family: monospace;
.text-right
    text-align: right;
.row-blocks
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    li
        display: inline-block;
        width: 33.3%;
        height:30px;
        line-height: 30px;
        a
            text-decoration: none;
.row-blocks-2
    li
        width: 50%;
.row-blocks-3
    li
        width: 33.3%;
.row-blocks-4
    li
        width: 25%;
.anketa
    .form-group
        margin-bottom: 15px;
        display: block;
        position: relative;
        .input-group
            position: relative;
        .input-group:after
            position: absolute;
            font-family: 'Fontawesome';
            right: 0;
            top:7.75px;
            height: 2em;
            font-size: 2em;
            transition: all .2s ease-in;
        .input-group.check:after
            content: '\f14a'
            color: rgba(0,200,81,1);//#00C851
        .input-group.fail:after
            content: '\f2d3'
            color: rgba(255,9,13,.8);
        label.control-label
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 100;
            color: rgba(0,0,0,.5);
            width:100%;
            text-align: right;

    // label.control-label:first-of-type
    //     margin-top: 0;
